In [2]:
#Задание 1
#Определите какому фильму было выставлено больше всего оценок 5.0
import pandas as pd

#чтение файлов
data_ratings = pd.read_csv(r'C:\Users\mazar\Documents\Python\Нетология - курс\ml-latest-small\ratings.csv')
data_movies = pd.read_csv(r'C:\Users\mazar\Documents\Python\Нетология - курс\ml-latest-small\movies.csv')

In [3]:
data_movies.head() #просмотр содержимого

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
data_ratings.head()#просмотр содержимого

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [6]:
#берем фильм с оценкой 5. Считаем распределение по фильмам
film = data_ratings[data_ratings.rating==5]['movieId'].value_counts() 
# выбираем номер фильма из первой строки (с самым большим кол-вом вхождений. По id восстанавливаем название фильма)
data_movies[data_movies.movieId == film.index[0]]

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

In [12]:
#Задание 2
#По данным файла power.csv посчитайте суммарное потребление стран Прибалтики 
#(Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. 
#Не учитывайте в расчетах отрицательные значения quantity.

#чтение файла
data_power = pd.read_csv(r'C:\Users\mazar\Documents\Python\Нетология - курс\Ноутбуки с лекций\10._Основы_pandas\power.csv')

In [13]:
data_power.head() #просмотр содержимого

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [97]:
data_power.columns

Index(['country', 'year', 'quantity', 'category'], dtype='object')

In [29]:
data_power.country.sort_values().unique() #смотрим написание названия стран

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antarctic Fisheries', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plur. State of)', 'Bonaire, St Eustatius, Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Rep.', 'Chad',
       'Chile', 'China', 'China, Hong Kong SAR', 'China, Macao SAR',
       'Colombia', 'Commonwealth of Independent States (CIS)', 'Comoros',
       'Congo', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba',
       'Curaçao', 'Cyprus', 'Czechia', 'Czechoslovakia (former)',
       "Côte d'Ivoire", 'Dem. Rep. of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Ethiopia, incl. Eritrea', 'Faeroe Islands',
       'Falkland Is. (Malvinas)', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'German Dem. R. (former)', 'Germany', 'Germany, Fed. R. (former)',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran (Islamic Rep. of)', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       "Korea, Dem.Ppl's.Rep.", 'Korea, Republic of', 'Kuwait',
       'Kyrgyzstan', "Lao People's Dem. Rep.", 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania',
       'Mauritius', 'Mayotte', 'Mexico', 'Micronesia (Fed. States of)',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Neth. Antilles (former)',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Northern Mariana Islands', 'Norway',
       'Oman', 'Other Asia', 'Pacific Islands (former)', 'Pakistan',
       'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda',
       'Réunion', 'Samoa', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Serbia and Montenegro', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'St. Helena and Depend.', 'St. Kitts-Nevis', 'St. Lucia',
       'St. Pierre-Miquelon', 'St. Vincent-Grenadines',
       'State of Palestine', 'Sudan', 'Sudan (former)', 'Suriname',
       'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic',
       'T.F.Yug.Rep. Macedonia', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'USSR (former)', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United Rep. of Tanzania', 'United States',
       'United States Virgin Is.', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivar. Rep.)', 'Viet Nam', 'Wallis and Futuna Is.',
       'Yemen', 'Yemen Arab Rep. (former)', 'Yemen, Dem. (former)',
       'Yugoslavia, SFR (former)', 'Zambia', 'Zimbabwe'], dtype=object)

In [43]:
data_power.category.sort_values().unique() #смотрим варианты категорий

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71], dtype=int64)

In [44]:
data_power.year.sort_values().unique() #смотрим варианты лет

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014], dtype=int64)

In [55]:
#Решение
data_power[data_power.country.isin(['Estonia', 'Latvia', 'Lithuania']) 
           & data_power.category.isin([4, 12, 21] ) 
           & (data_power.year >= 2005) & (data_power.year <= 2010)
           & (data_power.quantity >= 0) ]['quantity'].sum()

240580.0

In [217]:
#Задание 3
#Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

page_url = 'https://www.weatherapi.com/weather/q/moscow-moscow-city-russia-2145091'

df = pd.read_html(page_url, attrs = {'class': 'table table-condensed table-hover table-bordered small'})

In [218]:
df[1]

,0,1,2,3,4,5,6,7,8
0,Icon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Temp,0.7°f,0.7°f,0.7°f,1.9°f,5.5°f,3.6°f,-0.2°f,-1.1°f
2,Wind,4.5 mph,3.8 mph,3.4 mph,2.5 mph,2.0 mph,2.0 mph,1.3 mph,1.6 mph
3,Precip,0.00 in,0.00 in,0.00 in,0.00 in,0.00 in,0.00 in,0.00 in,0.00 in
4,Cloud,87%,89%,83%,85%,84%,84%,93%,100%
5,Humidity,97%,97%,97%,96%,95%,97%,99%,99%
6,Pressure,30.6 in,30.6 in,30.6 in,30.7 in,30.6 in,30.6 in,30.6 in,30.6 in
7,NaN,Mon 110:00 am,Mon 113:00 am,Mon 116:00 am,Mon 119:00 am,Mon 1112:00 pm,Mon 113:00 pm,Mon 116:00 pm,Mon 118:00 pm

In [219]:
data_weather = df[1].transpose()

In [220]:
data_weather

      0       1        2        3      4         5         6               7
0  Icon    Temp     Wind   Precip  Cloud  Humidity  Pressure             NaN
1   NaN   0.7°f  4.5 mph  0.00 in    87%       97%   30.6 in   Mon 110:00 am
2   NaN   0.7°f  3.8 mph  0.00 in    89%       97%   30.6 in   Mon 113:00 am
3   NaN   0.7°f  3.4 mph  0.00 in    83%       97%   30.6 in   Mon 116:00 am
4   NaN   1.9°f  2.5 mph  0.00 in    85%       96%   30.7 in   Mon 119:00 am
5   NaN   5.5°f  2.0 mph  0.00 in    84%       95%   30.6 in  Mon 1112:00 pm
6   NaN   3.6°f  2.0 mph  0.00 in    84%       97%   30.6 in   Mon 113:00 pm
7   NaN  -0.2°f  1.3 mph  0.00 in    93%       99%   30.6 in   Mon 116:00 pm
8   NaN  -1.1°f  1.6 mph  0.00 in   100%       99%   30.6 in   Mon 118:00 pm

In [221]:
type(data_weather) #проверяем тип

pandas.core.frame.DataFrame

In [222]:
data_weather.info() #смотрим информацию

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9 entries, 0 to 8
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1 non-null      object
 1   1       9 non-null      object
 2   2       9 non-null      object
 3   3       9 non-null      object
 4   4       9 non-null      object
 5   5       9 non-null      object
 6   6       9 non-null      object
 7   7       8 non-null      object
dtypes: object(8)
memory usage: 968.0+ bytes